body{
    margin: 0;
    text-align: center;
}
#teste img {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

#teste {
    border: 1px solid black;
    margin: 50px;
    background-color: gainsboro;
}